<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duoku.platform"
    android:versionCode="60"
    android:versionName="2.1.0">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8" />

    <application android:label="@string/dk_app_name">

    </application>

</manifest>
