<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.migamecenrtersdkdemo.online"
    android:versionCode="2"
    android:versionName="2.0" >

    <!-- 这个是SDK需要的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.xiaomi.sdk.permission.PAYMENT" />
    
    <application>

    </application>

</manifest>